include includes/header

body#chatpage
  // Log ud
  if isLoggedIn
      a.logoutbtn(href="/logout") Log ud

  div.chat-container
    div.chat-header
      a.back-btn(href="/chats") &larr; Tilbage
      h1 #{chat.name}
      if userLvl === 3 || (userLvl >= 2 && chat.user === currentUser)
        a.delete-chat-btn(href="#", data-chat-id=`${chat.id}`) Slet chat

    div.messages
      if chat.messages && chat.messages.length > 0
        ul
          each msg in chat.messages
            li.message-bubble(data-message-id=msg.id)
              strong.user-name #{msg.userName || 'Bruger'}:
              span.message-text #{msg.messageContent || msg.content}
      else
        p.no-messages Ingen beskeder endnu. Vær den første til at skrive!
    if userLvl >= 2
      form.chat-form(action=`/chats/${chat.id}/messages` method="POST")
        input(type="text" name="content" placeholder="Skriv en besked..." required autocomplete="off")
        button(type="submit") Send

script(src='/js/chatPolling.js')