include includes/header

body#chatpage
  // Log ud
  if isLoggedIn
    a.logoutbtn(href="/logout") Log ud

  div.chat-container
    div.chat-header
      a.back-btn(href="/chats") &larr; Tilbage
      h1 #{chat.name}
      // Slet chat knap
      if userLvl === 3 || (userLvl >= 2 && chat.user === currentUser)
        a.delete-chat-btn(href="#", data-chat-id=`${chat.id}`) Slet chat

    div.messages
      // TJEK BESKEDER START
      if chat.messages && chat.messages.length > 0
        ul
          each msg in chat.messages
            li.message-bubble(data-message-id=msg.id)
              div.message-content
                strong.user-name #{msg.userName || 'Bruger'}:
                
                // VISNING: Den normale tekst (Synlig som standard)
                span.message-text(id=`text-${msg.id}`) #{msg.messageContent || msg.content}
                
                // REDIGERING: Skjult formular til at rette (Skjult som standard)
                if msg.userId == currentUser
                  form.edit-form(id=`edit-form-${msg.id}` action=`/chats/${chat.id}/messages/${msg.id}?_method=PATCH` method="POST" style="display:none;")
                    input.edit-input(type="text" name="content" value=(msg.messageContent || msg.content) required autocomplete="off")
                    div.edit-buttons
                      button.save-btn(type="submit") Gem
                      button.cancel-btn-small(type="button" onclick=`toggleEdit('${msg.id}')`) Fortryd

              // MENU (Kun for ejeren)
              if msg.userId == currentUser
                div.menu-container
                  span.dots &#8942;
                  div.dropdown-menu
                    // Slet knap (Med bekræftelse)
                    form(action=`/chats/${chat.id}/messages/${msg.id}?_method=DELETE` method="POST" onsubmit="return confirm('Er du sikker på, at du vil slette denne besked?');")
                      button.delete-msg-btn(type="submit") Slet
                    
                    // Ret knap
                    button.edit-msg-btn(type="button" onclick=`toggleEdit('${msg.id}')`) Ret
      else
        p.no-messages Ingen beskeder endnu. Vær den første til at skrive!

    // Input felt til nye beskeder
    if userLvl >= 2
      form.chat-form(action=`/chats/${chat.id}/messages` method="POST")
        input(type="text" name="content" placeholder="Skriv en besked..." required autocomplete="off")
        button(type="submit") Send

script(src='/js/chatPolling.js')