include includes/header

body#chatpage
  // Log ud
  if isLoggedIn
    a.logoutbtn(href="/logout") Log ud

  div.chat-container
    div.chat-header
      a.back-btn(href="/chats") &larr; Tilbage
      div.chat-name-wrapper
        h1.chat-name-display(id=`chat-name-display-${chat.id}`) #{chat.name}
        
        // Slet/ret chat knap
        if userLvl === 3 || (userLvl >= 2 && chat.user === currentUser)
          form.edit-chat-name-form(id=`edit-chat-name-form-${chat.id}` style="display:none;" onsubmit="return handleChatNameEdit(this, event)")        
            input.edit-input(type="text" name="name" value=chat.name required autocomplete="off")
            div.edit-buttons
              button.save-btn(type="submit") Gem
              button.cancel-btn-small(type="button" onclick=`toggleEditChatName('${chat.id}')`) Fortryd

      if userLvl === 3 || (userLvl >= 2 && chat.user === currentUser)
        div.menu-container(id=`chat-menu-container-${chat.id}`)
          span.dots(onclick=`toggleChatMenu('${chat.id}')`) &#8942;
          div.dropdown-menu(id=`chat-dropdown-menu-${chat.id}` style="right: 0;")
            button.edit-msg-btn(type="button" onclick=`toggleEditChatName('${chat.id}')`) Ret chatnavn
            form(action=`/chats/${chat.id}?_method=DELETE` method="POST" onsubmit="return confirm('Er du sikker på, at du vil slette hele chatten? Dette kan ikke fortrydes!');")
              button.delete-msg-btn(type="submit") Slet chat

    div.messages
      // Tjek beskeder fra start
      if chat.messages && chat.messages.length > 0
        ul
          each msg in chat.messages
            li.message-bubble(data-message-id=msg.id)
              div.message-content
                strong.user-name #{msg.userName || 'Bruger'}:
                
                // Visning af den normale tekst
                span.message-text(id=`text-${msg.id}`) #{msg.messageContent || msg.content}
                
                // Redigering - Skjult som standard
                if msg.userId == currentUser
                  form.edit-form(id=`edit-form-${msg.id}` action=`/chats/${chat.id}/messages/${msg.id}?_method=PATCH` method="POST" style="display:none;")
                    input.edit-input(type="text" name="content" value=(msg.messageContent || msg.content) required autocomplete="off")
                    div.edit-buttons
                      button.save-btn(type="submit") Gem
                      button.cancel-btn-small(type="button" onclick=`toggleEdit('${msg.id}')`) Fortryd

              // Menu men kun for ejeren
              if msg.userId == currentUser
                div.menu-container
                  span.dots &#8942;
                  div.dropdown-menu
                    // Slet knap for beskederne (Med bekræftelse)
                    form(action=`/chats/${chat.id}/messages/${msg.id}?_method=DELETE` method="POST" onsubmit="return confirm('Er du sikker på, at du vil slette denne besked?');")
                      button.delete-msg-btn(type="submit") Slet
                    
                    // Ret knap
                    button.edit-msg-btn(type="button" onclick=`toggleEdit('${msg.id}')`) Ret
      else
        p.no-messages Ingen beskeder endnu. Vær den første til at skrive!

    // Input felt til nye beskeder
    if userLvl >= 2
      form.chat-form(action=`/chats/${chat.id}/messages` method="POST")
        input(type="text" name="content" placeholder="Skriv en besked..." required autocomplete="off")
        button(type="submit") Send

script(src='/js/chatPolling.js')